#main
	width 800px

#list
	float left
	table
		table-layout fixed
		white-space nowrap
		border-collapse collapse
		tr.selected
			> td
				background #D5FAC8
		td
			padding 3px
			border 1px solid #cca
			cursor pointer
			overflow hidden
		td.name
			width 200px

#details
	float left
	margin-left 20px
	width 400px
	textarea
	input
		margin-bottom 15px
		margin-top 5px
		width 350px

label
	display block

button
	height 30px
	width 100px
	margin 2px
